
/* simple css test */

h1 {
    text-align: center;
    font-size: 24px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.star {
    max-width: 40%;
    max-height: 40%;
}

#titleGreen {
    color: green;
}

.headerRAR{
    background-color: white;
    padding: 5px;
    color: black;
}
.headerRAR1{
    background-color: #95090d;
    padding: 5px;
}
.footer{
    background-color: #95090d;
    padding: 20px;
}
#headerVisitedRAR1 a:visited{
    color: aliceblue;
}
#headerVisitedRAR a:visited{
    color: black;
}
.headerLinks{
    color: white;
}
.footerLinks{
    display: flex;
    justify-content: space-between;
}
.footerLinks a{
    color: white;
    text-decoration: none;
}